In [28]:
#!cd..

In [29]:
#PARA EL COPY HE SEGUIDO ESTOS PASOS EN WINDOWS https://ajaxhispano.com/ask/permiso-denegado-al-intentar-importar-un-archivo-csv-desde-pgadmin-82415/

In [30]:
import sqlalchemy
from sqlalchemy import create_engine
import pandas as pd
import datetime
import os
import numpy as np
from shapely import wkt
import psycopg2

In [31]:
os.chdir(r"C:\Users\ManuBenito\Documents\GitHub\project_walknet")

In [32]:
from configparser import ConfigParser
cfg = ConfigParser()
cfg.read(r'./config.ini')
DB_CONFIG = {
    'database':cfg.get('BBDD_CONNECTION','ddbb'),
    'user':cfg.get('BBDD_CONNECTION','user'),
    'password':cfg.get('BBDD_CONNECTION','password'),
    'host':cfg.get('BBDD_CONNECTION','host'),
    'port': cfg.get('BBDD_CONNECTION','port')}
DB_CONFIG_URL = f"postgresql://{DB_CONFIG['user']}:{DB_CONFIG['password']}@localhost:{DB_CONFIG['port']}/{DB_CONFIG['database']}')"

In [33]:
from pandas import DataFrame
def upload_data(data: DataFrame, table: str, how = 'append'):
    from sqlalchemy import create_engine
    engine = create_engine('postgresql://postgres:gorkamorka@localhost:5432/walknet')
    data.to_sql(table, engine, if_exists = how, index=False)
#cursor = engine.cursor()

In [42]:
dummy = {
    'id':list(np.arange(5,9,1)),
    'class':['pois'] * 4,
    'category':['landuse'] * 4,
    'provider':['catastro'] * 4,
    'data':['{"SV":500,"NV":"HI"}']*4,
    'geometry':["(5,4)"]*4,
    'datein':[datetime.date.today()]*4,
    'dateout':[datetime.date.today()]*4,
    'execution':[datetime.date.today()]*4}

In [43]:
dummy_data = pd.DataFrame().from_dict(dummy)

In [44]:
dummy_data

,id,class,category,provider,data,geometry,datein,dateout,execution
0,5,pois,landuse,catastro,"{""SV"":500,""NV"":""HI""}","(5,4)",2023-02-06,2023-02-06,2023-02-06
1,6,pois,landuse,catastro,"{""SV"":500,""NV"":""HI""}","(5,4)",2023-02-06,2023-02-06,2023-02-06
2,7,pois,landuse,catastro,"{""SV"":500,""NV"":""HI""}","(5,4)",2023-02-06,2023-02-06,2023-02-06
3,8,pois,landuse,catastro,"{""SV"":500,""NV"":""HI""}","(5,4)",2023-02-06,2023-02-06,2023-02-06

In [45]:
#dummy_data['geometry'] = dummy_data['geometry'].apply(wkt.loads)

In [46]:
engine = create_engine('postgresql://postgres:gorkamorka@localhost:5432/walknet')
#cursor = engine.cursor()

In [47]:
dummy_data.to_sql('pois', engine, if_exists='append',index=False)
#engine.commit()
#cursor.close()
#engine.close()

4

In [ ]:
temp = f"{TEMP_DIR}\\temp.csv"
dummy_data.to_csv(temp,sep=";",index=False)

In [ ]:
conn = psycopg2.connect(**DB_CONFIG)
cursor = conn.cursor()

In [ ]:
sql = f'''
COPY test
FROM '{temp}' --input full file path here. see line 46
DELIMITER ';' CSV;
'''

In [ ]:
cursor.execute('''CREATE TABLE test (
  id VARCHAR(50),
  class VARCHAR(50),
  category VARCHAR(50),
  provider VARCHAR(50),
  data VARCHAR(255),
  geometry VARCHAR(255),
  datein VARCHAR(255),
  dateout VARCHAR(255),
  execution VARCHAR(255)
)''')
#cursor.execute('TRUNCATE TABLE pois')

In [ ]:
dummy_data.dtypes

In [ ]:
cursor.execute(sql)
conn.commit()
cursor.close()
conn.close()

In [ ]:
pd.read_csv(temp,sep=";")

In [ ]:
def upload_data(data, table, how = 'update'):
    #CONNECT TO DATABASE AND CHECK IF ELEMENTS EXIST
    import psycopg2
    conn = psycopg2.connect(**DB_CONFIG)
    cursor = conn.cursor()
    cursor.execute("select * FROM public.pois")
    #SAVE TEMPORARY CSV AND EXECUTE

In [ ]:
conn = psycopg2.connect(
   database="postgres",
   user='postgres',
   password='gorkamorka',
   host='127.0.0.1', port= '5432'
)
#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Executing an MYSQL function using the execute() method
cursor.execute("select version()")

# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print("Connection established to: ",data)

#Closing the connection
conn.close()